@import "../../../node_modules/slick-carousel/slick/slick.css";
@import "../../../node_modules/slick-carousel/slick/slick-theme.css";

/* gallery.scss */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #fff;
  font-family: "Arial", sans-serif;
  overflow: hidden;
  background: linear-gradient(180deg, #471562, #111132);

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e0e0e0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .slick-slide {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
      filter 0.5s ease-in-out;
    transform-origin: center center;
    opacity: 0.5;
    z-index: 0;
    filter: blur(4px);

    @media (max-width: 768px) {
      filter: none !important;
    }
  }

  .slick-center {
    transform: scale(1.2);
    opacity: 1;
    z-index: 1;
    filter: blur(0);
  }

  .slick-active:not(.slick-center) {
    transform: scale(0.9);
    opacity: 0.75;
  }

  .gallery_slider {
    width: 100%;
    max-width: 1200px;

    .slide {
      display: flex !important;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      transition: transform 0.3s ease-in-out;

      &.activeSlide {
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
      }

      img {
        max-width: 100%;
        height: 522px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s, transform 0.3s;

        &:hover {
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
          transform: scale(1.05);
        }
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 2.5rem;
    cursor: pointer;
    color: #fff;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0.8;

    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }

    &.next {
      right: -2rem;
    }

    &.prev {
      left: -2rem;
    }
  }

  .slick-dots {
    display: flex !important;
    justify-content: center;
    margin-top: 1.5rem;
    list-style: none;

    .custom-dot {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s, transform 0.3s;

      &.slick-active {
        background: #ffd700;
        transform: scale(1.2);
      }
    }
  }
}

/* Responsive styles */
@media (max-width: 1440px) {
  .gallery {
    .gallery_slider .slide img {
      height: 450px;
    }
  }
}

@media (max-width: 1200px) {
  .gallery {
    .gallery_slider .slide img {
      height: 400px;
    }

    .arrow {
      font-size: 2rem;

      &.next {
        right: -1.5rem;
      }

      &.prev {
        left: -1.5rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .gallery {
    .gallery_slider .slide img {
      height: 350px;
    }

    h1 {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    padding: 1.5rem;
    gap: 20px;
    margin: 1rem;

    h1 {
      font-size: 2rem;
    }

    .arrow {
      display: none;
    }

    .gallery_slider .slide img {
      height: 500px;
    }

    .slick-dots {
      .custom-dot {
        margin-top: 0.5rem;
        width: 7px;
        height: 7px;
      }
    }
  }
}

@media (max-width: 576px) {
  .gallery {
    h1 {
      font-size: 1.75rem;
    }

    .gallery_slider .slide img {
      height: 450px;
    }

    .slick-dots {
      position: relative;
      .custom-dot {
        width: 5px;
        height: 5px;
      }
    }
  }
}

@media (max-width: 480px) {
  .gallery {
    h1 {
      font-size: 1.5rem;
    }

    .gallery_slider .slide img {
      height: 380px;
    }

    .slick-dots {
      margin-top: 1rem;

      .custom-dot {
        width: 5px;
        height: 5px;
      }
    }
  }
}
